@media screen and (max-width: 1300px){
    body{
        font-family: sans-serif;
        background: #FFF8F0;
        font-weight: 400;
        line-height: 24px;
        color: #55206D;
        margin:10px;
        margin:0px;
        padding:0px;
    }
    
    #contacts{
        font-family: Inter;
        font-size: 17px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    #name{
        color: #291854;
        font-size: 18px;
        line-height: 19.36px;
        margin-top: 50px;
    }
    
    h1{
        margin-top: 10px;
        margin-bottom: 45px;
        font-size: 48px;
        line-height: 50px;
        color: #190D37;
    }
    
    #breif{
        color: #331E6A;
        font-size: 25px;
        line-height: 32px;
    }
    #button-contact{
        text-align:right;
    }
    button{
        width: 138px;
        height: 44px;
        border-radius: 4px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        background: #2F2F2F;
        color: #FFFFFF;
        margin-top: 25px;
    }
    
    #hero{
        margin:0 auto;
        max-width: 1440px;
    }
    
    #intro-left{
        padding:10px;
    }

    #intro-right{
        padding-bottom: 0;
        padding-right: 0;
        max-width: 798px;
        text-align: center;
    }

    img{
        border-top-right-radius: 20%;
        border-top-right-radius: 20%;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        height:auto;
        width: auto;
        max-height: 370px;
        max-width: 370px;
        padding-top: 60px;
    }
    
    #what-I-do{
        margin-top: 100px;
        text-align: center;
    }
    
    #experience-display{
        margin:0 auto;
        max-width: 1440px;
        border-color: white ;
        padding: auto;
    }
    
    .section-title{
        font-family: Inter;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color:#2858FF;
        text-align: center;
        padding-top: 50px;
    }
    
    h2{
        color: #000000;
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center; 
        top: 696px;
        left: 370px;
        margin-top: 2px;
        margin-bottom:8px;
    }
    
    #breif-what-I-do{
        padding-bottom: 40px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        
    }
    
    .box{
        background-color: white !important;
        border: 50px solid #FFF8F0 ;
        border-radius: 10px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: black;
        padding: 10px;
    }
    
    p{
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #55206D;
    }
    
    #what-I-do-box{
        margin:0 auto;
        max-width: 1440px;
    }
    
    #breif-my-projects{
        padding-bottom: 40px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        padding-left: auto;
    }
    
    .project-box-content{
        text-align: center;
    }

    h3{
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        color: black;
        text-align: center;
    }
    #my-projects-box{
        margin:0 auto;
        max-width: 1440px;
        padding-left: auto;
    }
    
    #project1{
        background-color: blueviolet !important;
        border: 50px solid #FFF8F0 ;
        border-radius: 10px;
        border-bottom: 15px solid #FFF8F0;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        padding: 40px;
    }
    #project-1{
        padding-left: 10px;
    }
    
    #project2{
        background-color: brown !important;
        border: 50px solid #FFF8F0 ;
        border-radius: 10px;
        border-bottom: 15px solid #FFF8F0;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        padding: 40px;
    }
    #project-2{
        text-align: center;
    }
    
    
    #project3{
        background-color: black !important;
        border: 50px solid #FFF8F0 ;
        border-radius: 10px;
        border-bottom: 15px solid #FFF8F0;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        padding: 40px;
    }
    #project-3{
        text-align: center;
    }
    
    #footer{
        background-color: black;
        padding:10px;
    }
    
    #footer-text{
        color:white !important;
        margin:auto;
    }
    
    body{
        margin-bottom: 0;
    }
    
    #projects{
        margin:0 auto;
        max-width: 1440px;
        border-color: white ;
        padding: 10px;
        padding-bottom: 60px;
    }

    a {
        outline-color: transparent;
        text-decoration: none;
        padding: 2px 1px 0;
      }
      
      a:link {
        color: blue;
      }
      
      a:visited {
        color: purple;
      }
      
      a:focus,
      a:hover {
        border-bottom: 1px solid;
      }
      
      a:active {
        color: red;
      }
    
}

@media screen and (min-width: 1300px){
    body{
        font-family: sans-serif;
        background: #FFF8F0;
        font-weight: 400;
        line-height: 24px;
        color: #55206D;
        margin:0;
    }
    
    #contacts{
        font-family: Inter;
        font-size: 17px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    #name{
        color: #291854;
        font-size: 18px;
        line-height: 19.36px;
        margin-top: 50px;
    }
    
    h1{
        margin-top: 10px;
        margin-bottom: 45px;
        font-size: 48px;
        line-height: 50px;
        color: #190D37;
    }
    
    #breif{
        color: #331E6A;
        font-size: 25px;
        line-height: 32px;
    }
    
    button{
        width: 138px;
        height: 44px;
        top: 456px;
        left: 190px;
        border-radius: 4px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        background: #2F2F2F;
        color: #FFFFFF;
        margin-top: 25px;
    }
    
    #hero{
        display: flex;
        margin:0 auto;
        max-width: 1440px;
    }
    #intro-right{
        width: 50%;
    }
    
    #intro-left{
        width: 50%;
        padding-right: 20px;
        margin-top:20px;
    }
    
    img{
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
    }
    
    #what-I-do{
        margin-top: 100px;
        text-align: center;
    }
    
    #experience-display{
        display: flex;
        margin:0 auto;
        max-width: 1440px;
        border-color: white ;
    }
    
    .section-title{
        font-family: Inter;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color:#2858FF;
        text-align: center;
        padding-top: 50px;
    }
    
    h2{
        color: #000000;
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center; 
        top: 696px;
        left: 370px;
        margin-top: 2px;
        margin-bottom:8px;
    }
    
    #breif-what-I-do{
        padding-bottom: 40px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        
    }
    
    .box{
        background-color: white !important;
        border: 50px solid #FFF8F0 ;
        border-radius: 10px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: black;
        padding: 10px;
    }
    
    p{
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #55206D;
    }
    
    #what-I-do-box{
        margin:0 auto;
        max-width: 1440px;
    }
    
    #breif-my-projects{
        padding-bottom: 40px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
    }
    
    h3{
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        color: black;
    }
    #my-projects-box{
        margin:0 auto;
        max-width: 1440px;
    }
    
    #projects-1{
        display: flex;
    }
    
    #project1{
        background-color: blueviolet !important;
        border: 50px solid #FFF8F0 ;
        border-radius: 10px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        padding: 40px;
    }
    
    #projects-2{
        display: flex;
    }
    
    #project2{
        background-color: brown !important;
        border: 50px solid #FFF8F0 ;
        border-radius: 10px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        padding: 40px;
    }
    
    #projects-3{
        display: flex;
    }
    
    #project3{
        background-color: black !important;
        border: 50px solid #FFF8F0 ;
        border-radius: 10px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        padding: 40px;
    }
    
    #footer{
        background-color: black;
    }
    
    #footer-text{
        color:white !important;
        margin:auto;
    }
    
    body{
        margin-bottom: 0;
    }
    
    #projects{
        margin:0 auto;
        max-width: 1440px;
        border-color: white ;
    }
    a {
        outline-color: transparent;
        text-decoration: none;
        padding: 2px 1px 0;
      }
      
      a:link {
        color: blue;
      }
      
      a:visited {
        color: purple;
      }
      
      a:focus,
      a:hover {
        border-bottom: 1px solid;
      }
      
      a:active {
        color: red;
      }
}